<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="th/layout ::site-head">
  <title>In maintenance</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<header th:replace="th/layout :: site-header"/>

<div>
    <h2 th:text="#{title.inmaintenance}" style="display: inline;">Tanks in maintenance</h2>
</div>

<div class="Tanks" th:unless="${#lists.isEmpty(tanksInMaintenance)}">
    <br>
    <table>
      <thead>
      <tr>
        <th th:text="#{repository.id}">id</th>
        <th th:text="#{repository.name}">name</th>
        <th th:text="#{repository.country}">country</th>
        <th th:text="#{repository.description}">description</th>
        <th th:text="#{repository.type}">type</th>
        <th th:text="#{repository.dateOfRelease}">dateOfRelease</th>
        <th th:text="#{repository.price}">price</th>
        <th th:text="#{repository.status}">status</th>
        <th th:text="#{repository.operation}">operation</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="tank : ${tanksInMaintenance}">
        <form action="#" th:action="@{/tanks}" th:object="${tank}" method="post">
          <td th:text="${tank.id}">3</td>
          <td th:text="${tank.name}">Maus</td>
          <td th:text="${tank.country}">Third Reich</td>
          <td th:text="${tank.description}">Armored Cow</td>
          <td th:text="#{${'repository.type.' + tank.type}}">Heavy tank"</td>
          <td th:text="${{tank.dateOfRelease}}">1945-04-05</td>
          <td th:text="${tank.price}">50.50</td>
          <td th:text="#{${'repository.status.' + tank.status}}">For sell</td>
          <td>
            <button type="submit" name="remove" th:value="${tank.id}"
                    th:text="#{repository.remove}">Delete
            </button>

            <a href="tank.html" th:href="@{|/tanks/${tank.id}|}">
              <button type="button" th:text="#{repository.edit}">Edit</button>
            </a>
          </td>
        </form>
      </tr>
      </tbody>
    </table>
</div>

<footer th:replace="th/layout :: site-footer"/>

</body>

</html>